.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
  white-space: normal;
}

.body {
  background-color: #354325;
  color: #b6b1a7;
}

.section {
  padding: 40px;
  font-family: Helveticaneue, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.heading {
  font-family: Helveticaneue, sans-serif;
  font-size: 8vw;
  font-weight: 300;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid #b6b1a7;
}

.column-2 {
  display: block;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 8vw;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 8vw;
}

.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  margin-right: auto;
  margin-left: auto;
  border-style: none solid;
  border-width: 1px;
  border-color: #000 #b6b1a7;
  font-family: dico-slab, sans-serif;
}

.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: none;
  border-width: 1px;
  border-color: #b6b1a7;
  color: #b6b1a7;
}

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #354325;
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 8vw;
  line-height: 1em;
  font-weight: 400;
  text-decoration: none;
}

.title.w--current {
  padding: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #354325;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 72px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-right: 1px none #000;
  border-left: 1px solid #b6b1a7;
  background-color: #354325;
  font-family: Helveticaneue, sans-serif;
  color: #354325;
  text-align: left;
}

.div-block {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-3 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 9vw;
  font-weight: 400;
}

.text-block-4 {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 9vw;
  font-weight: 400;
}

.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding-right: 36px;
  padding-left: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-top: 1px solid #b6b1a7;
  border-bottom: 1px solid #b6b1a7;
  background-color: #354325;
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}

.social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image {
  max-width: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-left: 0px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 72px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0px;
  color: #b6b1a7;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
}

.nav-link:hover {
  font-style: italic;
  text-decoration: none;
}

.nav-link.w--current {
  color: #b6b1a7;
  font-style: italic;
  text-decoration: underline;
}

.nav-link.selected-link {
  font-style: italic;
  text-decoration: underline;
}

.nav-menu {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.navbar {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.page-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #354325;
  font-family: Helveticaneue, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 300;
}

.grid-halves {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 36px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #b6b1a7;
  background-color: #354325;
  font-family: dico-slab, sans-serif;
}

.text-small {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.image-2 {
  -o-object-fit: fill;
  object-fit: fill;
}

.padded-content {
  padding: 36px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #354325;
}

.text-block-5 {
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 32px;
  line-height: 42px;
}

.image-3 {
  overflow: hidden;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-4 {
  display: block;
  text-align: center;
}

.nav-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.resume-button {
  display: none;
  padding: 18px 24px;
  border-style: dashed;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  white-space: nowrap;
}

.image-5 {
  width: auto;
  height: auto;
}

.text-block-6 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.text-block-7:hover {
  display: none;
  color: #fff;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  padding: 20px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  color: #2cc84d;
  white-space: nowrap;
}

.button:hover {
  background-color: transparent;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.body-2 {
  color: #2cc84d;
}

.grid {
  grid-auto-rows: 300px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 200px 0px 200px 0px 300px 0px 300px 0px 320px 0px 300px 0px 300px 0px 300px 0px 300px 0px 300px 0px 300px;
  grid-template-rows: 200px 200px 300px 300px 320px 300px 300px 300px 300px 300px 300px;
}

.div-block-2 {
  border-right: 1px solid #b6b1a7;
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic23.jpg');
  background-size: cover;
  background-attachment: scroll;
}

.div-block-3 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic15.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-4 {
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic13.jpg');
  background-position: 65% 50%;
  background-size: cover;
}

.div-block-5 {
  border-right: 1px solid #b6b1a7;
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic16.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
}

.div-block-6 {
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic7.jpg');
  background-position: 50% 45%;
  background-size: cover;
}

.div-block-7 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic9.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-8 {
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic6.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-9 {
  border-right: 1px none #b6b1a7;
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic20.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-10 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic5.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-11 {
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-12 {
  border-right: 1px none #b6b1a7;
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic19.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-13 {
  border-bottom: 1px solid #b6b1a7;
  background-image: url('../images/websitepic17.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-14 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic11.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-15 {
  background-image: url('../images/Website-6.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-16 {
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/market10.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-17 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/Website-19.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.div-block-18 {
  border-bottom: 1px solid #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic10.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.div-block-19 {
  border-bottom: 1px none #b6b1a7;
  border-left: 1px solid #b6b1a7;
  background-image: url('../images/websitepic21.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.div-block-20 {
  background-image: url('../images/websitepic4.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.text-block-9 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
}

.text-block-10 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #2cc84d;
  font-size: 28px;
  line-height: 32px;
}

.text-block-10:hover {
  color: #fff;
}

.sidebar-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  padding: 20px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: #b6b1a7;
  background-color: #b6b1a7;
  opacity: 1;
  font-family: dico-slab, sans-serif;
  color: #364830;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
}

.sidebar-button:hover {
  background-color: transparent;
  color: #b6b1a7;
}

.sidebar-button-text {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #2cc84d;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
}

.sidebar-button-text:hover {
  display: none;
  color: #fff;
}

.resume-button-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  padding: 20px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #2cc84d;
  font-size: 24px;
  white-space: nowrap;
}

.text-block-7-copy {
  display: block;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #2cc84d;
  font-size: 24px;
  line-height: 36px;
}

.text-block-7-copy:hover {
  display: none;
  color: #fff;
}

.heading-2 {
  position: -webkit-sticky;
  position: sticky;
  top: 126px;
  margin-top: 0px;
  margin-bottom: 36px;
  padding-left: 0px;
  font-family: dico-slab, sans-serif;
  font-size: 54px;
  font-weight: 300;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.grid-2 {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.list {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: none none dashed;
  border-width: 1px;
  border-color: #000 #000 #fff;
  list-style-type: none;
}

.list-item-2 {
  border-bottom: 1px dashed #fff;
}

.list-item-3 {
  border-bottom: 1px dashed #fff;
}

.text-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: dico-slab, sans-serif;
  font-size: 28px;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 28px;
  padding-bottom: 28px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px none #fff;
}

.text-block-12 {
  font-size: 36px;
  line-height: 36px;
  text-align: right;
}

.text-block-12.muted-text {
  opacity: 0.7;
  font-family: dico-slab, sans-serif;
  font-size: 24px;
}

.text-block-13 {
  font-size: 24px;
}

.text-block-14 {
  font-size: 28px;
}

.text-block-15 {
  font-size: 32px;
}

.text-block-16 {
  font-family: dico-slab, sans-serif;
  font-size: 28px;
}

.image-6 {
  position: static;
  -o-object-fit: cover;
  object-fit: cover;
}

.div-block-23 {
  border-top: 1px solid #b6b1a7;
}

.image-7 {
  background-image: url('../images/Website-33.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.text-field {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: transparent;
}

.form-field {
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: transparent;
}

.form-field::-webkit-input-placeholder {
  color: #fff;
}

.form-field:-ms-input-placeholder {
  color: #fff;
}

.form-field::-ms-input-placeholder {
  color: #fff;
}

.form-field::placeholder {
  color: #fff;
}

.field-label {
  font-size: 18px;
}

.field-label-2 {
  font-size: 18px;
}

.form-label {
  font-size: 18px;
}

.text-field-3 {
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.submit-button {
  background-color: #fff;
  color: #2cc84d;
}

.form {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto 100px auto;
  grid-template-rows: auto auto auto auto 100px auto;
}

.form-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 0px;
  padding: 20px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: dashed;
  border-width: 1px;
  border-color: #fff;
  background-color: #fff;
  opacity: 1;
  color: #2cc84d;
  font-size: 28px;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
}

.form-button:hover {
  background-color: transparent;
  color: #fff;
}

.paragraph {
  border: 1px none #000;
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 24px;
  line-height: 36px;
}

.link {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
}

.textarea {
  background-color: transparent;
}

.text-block-17 {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.link-3 {
  color: #b6b1a7;
  font-size: 18px;
  text-decoration: underline;
}

.success-message {
  background-color: transparent;
}

.error-message {
  background-color: transparent;
}

.heading-2-copy {
  position: static;
  top: 126px;
  margin-top: 0px;
  margin-bottom: 36px;
  padding-left: 0px;
  font-size: 54px;
  font-weight: 300;
}

.text-block-18 {
  font-size: 28px;
  text-decoration: underline;
}

.text-block-19 {
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  font-size: 28px;
  font-weight: 400;
  text-decoration: none;
}

.link-4 {
  color: #b6b1a7;
  text-decoration: underline;
}

.link-5 {
  color: #fff;
  text-decoration: underline;
}

.link-6 {
  color: #fff;
  text-decoration: underline;
}

.link-7 {
  color: #fff;
  text-decoration: underline;
}

.link-8 {
  color: #fff;
  text-decoration: underline;
}

.link-9 {
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  text-decoration: underline;
}

.link-10 {
  font-family: dico-slab, sans-serif;
  color: #b6b1a7;
  text-decoration: underline;
}

.text-span {
  color: #fff;
}

.body-3 {
  background-color: #354325;
}

.body-4 {
  background-color: #354325;
}

.image-8 {
  display: block;
}

@media screen and (min-width: 1920px) {
  .portrait-wrapper {
    background-image: url('../images/marketbanner-2.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .footer {
    border-top: 1px solid #fff;
  }

  .text-block-5 {
    font-size: 40px;
    line-height: 50px;
  }

  .image-5 {
    position: static;
    width: auto;
    height: auto;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .grid {
    grid-auto-rows: 397px;
    -ms-grid-rows: 383px 200px 346px 475px 410px 366px 446px 388px 417px 425px 515px;
    grid-template-rows: 383px 200px 346px 475px 410px 366px 446px 388px 417px 425px 515px;
  }

  .link-2 {
    color: #fff;
  }
}

@media screen and (max-width: 991px) {
  .column {
    border-right-style: none;
  }

  .layout {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-style: none;
  }

  .content-wrapper {
    border-style: none;
  }

  .sidebar {
    width: 100%;
    height: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    border-top: 1px solid #fff;
    border-right-style: none;
    border-left-style: none;
  }

  .nav-bar {
    height: auto;
    padding: 0px;
    border-bottom-style: none;
  }

  .social-icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav-link {
    margin-right: 0px;
    margin-left: 0px;
  }

  .nav-menu {
    position: absolute;
    background-color: #354325;
  }

  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #b6b1a7;
    background-color: #354325;
  }

  .grid-halves {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .portrait-wrapper {
    background-image: url('../images/marketbanner-2.jpg');
    background-size: cover;
  }

  .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
  }

  .padded-content {
    border-bottom: 1px none #fff;
  }

  .nav-mobile {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #b6b1a7;
    background-color: transparent;
  }

  .resume-button {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: #b6b1a7;
    background-color: #b6b1a7;
    color: #354325;
    text-align: center;
  }

  .resume-button:hover {
    background-color: transparent;
    color: #b6b1a7;
  }

  .resume-button.w--current {
    border-color: #b6b1a7;
    background-color: #b6b1a7;
    color: #354325;
  }

  .resume-button.w--current:hover {
    background-color: transparent;
    color: #b6b1a7;
  }

  .text-block-6 {
    font-size: 18px;
    text-align: center;
  }

  .menu-button {
    height: auto;
    color: #fff;
  }

  .menu-button.w--open {
    background-color: #354325;
  }

  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .text-block-7 {
    display: block;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
  }

  .text-block-7:hover {
    display: block;
    background-color: transparent;
    color: #b6b1a7;
  }

  .toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 28px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
  }

  .toggle-line {
    width: 44px;
    height: 1px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #b6b1a7;
  }

  .text-block-8 {
    display: none;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1200px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1200px 0px 1200px 0px 800px 0px 800px 0px 1200px 0px 1200px 0px 1200px 0px 600px 0px 1200px 0px 400px 0px 1200px 0px 600px 0px 1200px;
    grid-template-rows: 1200px 1200px 800px 800px 1200px 1200px 1200px 600px 1200px 400px 1200px 600px 1200px;
  }

  .div-block-2 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    border-right-style: none;
    border-bottom-style: solid;
  }

  .div-block-3 {
    border-bottom-style: solid;
    border-left-style: none;
  }

  .div-block-4 {
    border-bottom-style: solid;
    background-position: 100% 50%;
  }

  .div-block-5 {
    border-right-style: none;
    border-bottom-style: solid;
  }

  .div-block-6 {
    border-bottom-style: solid;
    background-position: 50% 100%;
  }

  .div-block-7 {
    border-bottom-style: solid;
    border-left-style: none;
    background-position: 50% 60%;
  }

  .div-block-8 {
    border-bottom-style: solid;
    background-position: 50% 10%;
  }

  .div-block-9 {
    border-right-style: none;
    border-bottom-style: solid;
    background-position: 0% 50%;
  }

  .div-block-10 {
    border-bottom-style: solid;
    border-left-style: none;
  }

  .div-block-11 {
    border-bottom: 1px solid #fff;
    border-left-style: none;
  }

  .div-block-12 {
    border-bottom-style: solid;
    border-left-style: none;
    background-position: 100% 100%;
  }

  .div-block-13 {
    border-bottom-style: solid;
  }

  .div-block-14 {
    border-bottom-style: solid;
    border-left-style: none;
    background-position: 100% 50%;
  }

  .div-block-16 {
    border-bottom: 1px none #fff;
    border-left-style: none;
  }

  .div-block-17 {
    display: block;
    border-bottom-style: solid;
    border-left-style: none;
  }

  .div-block-18 {
    border-bottom-style: solid;
    border-left-style: none;
  }

  .div-block-19 {
    border-bottom-style: solid;
    border-left-style: none;
  }

  .div-block-20 {
    border-bottom: 1px solid #fff;
  }

  .text-block-9 {
    padding: 20px;
    font-size: 24px;
  }

  .sidebar-button {
    display: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2cc84d;
    text-align: center;
  }

  .sidebar-button:hover {
    background-color: transparent;
    color: #fff;
  }

  .sidebar-button-text {
    display: block;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
  }

  .sidebar-button-text:hover {
    display: block;
    background-color: transparent;
  }

  .resume-button-copy {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2cc84d;
    text-align: center;
  }

  .resume-button-copy:hover {
    background-color: transparent;
    color: #fff;
  }

  .text-block-7-copy {
    display: block;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
  }

  .text-block-7-copy:hover {
    display: block;
    background-color: transparent;
  }

  .div-block-22 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .form-button {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #2cc84d;
    text-align: center;
  }

  .form-button:hover {
    background-color: transparent;
    color: #fff;
  }

  .image-8 {
    border-top: 1px solid #b6b1a7;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    grid-auto-rows: 600px;
    grid-template-areas: ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 850px 850px 600px 600px 800px 800px 800px 400px 800px 300px 800px 400px 800px 800px 800px 1000px 800px 700px;
    grid-template-rows: 850px 850px 600px 600px 800px 800px 800px 400px 800px 300px 800px 400px 800px 800px 800px 1000px 800px 700px;
  }

  .div-block-2 {
    background-position: 100% 50%;
  }

  .div-block-4 {
    background-position: 100% 50%;
  }

  .div-block-6 {
    background-position: 50% 50%;
  }

  .div-block-9 {
    background-position: 50% 100%;
  }

  .div-block-10 {
    background-position: 100% 100%;
  }

  .div-block-11 {
    background-position: 100% 50%;
  }

  .div-block-17 {
    display: block;
  }

  .div-block-19 {
    background-position: 50% 0%;
  }

  .div-block-20 {
    background-position: 50% 100%;
  }

  .text-block-9 {
    padding: 20px;
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .title.w--current {
    font-size: 8px;
  }

  .text-block-3 {
    font-size: 32px;
  }

  .text-block-4 {
    font-size: 32px;
  }

  .nav-menu {
    position: absolute;
  }

  .footer {
    padding: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .text-small {
    display: block;
    padding-bottom: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    line-height: 20px;
    white-space: normal;
  }

  .text-block-5 {
    overflow: hidden;
    font-size: 24px;
    line-height: 32px;
  }

  .image-5 {
    overflow: visible;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .text-block-6 {
    line-height: 36px;
    text-decoration: underline;
  }

  .menu-button {
    display: block;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .grid {
    grid-auto-flow: row;
    grid-auto-rows: 500px;
    -ms-grid-columns: 3fr;
    grid-template-columns: 3fr;
    -ms-grid-rows: 500px 500px 299px 400px 500px 530px 500px 200px 500px 150px 500px 200px 500px 450px 500px 500px 500px;
    grid-template-rows: 500px 500px 299px 400px 500px 530px 500px 200px 500px 150px 500px 200px 500px 450px 500px 500px 500px;
  }

  .div-block-4 {
    background-position: 50% 50%;
  }

  .div-block-19 {
    background-position: 50% 50%;
  }

  .text-block-9 {
    padding: 20px;
    font-size: 24px;
  }

  .link-3 {
    display: block;
    padding-bottom: 12px;
  }
}

#w-node-_18a29631-3a4a-72da-c2b7-bccdf70460ac-c6fe11f8 {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-b4f8e730-b8cc-5d66-66b8-2600cde085da-c6fe11f8 {
  -ms-grid-row: span 3;
  grid-row-start: span 3;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_7fe6e1f3-5df7-e54b-6d78-edbdd2048eec-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_23a411f6-45e9-f0ef-d9b5-edef459078dd-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1f51caf6-7f9d-5ade-d4dd-176565cf80c1-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_02c9c064-21e3-df34-9514-29cdd4e33ef7-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d4561b4e-f253-5613-8523-2f6852444943-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-d44372e8-558c-8a8a-1c01-1427fb346a65-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-a938b5f2-422a-0166-a73f-0a5437efb51b-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_94cd0903-9288-f7ef-ba59-fe5b284d5405-c6fe11f8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-f468c606-c3cf-6844-4fd9-71914b567855-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_02cd7133-7b91-4bf6-7cc5-6d09585f1fd4-c6fe11f8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1c336c30-cce2-e306-cee9-5485a045400d-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_840ec7b5-2f02-a474-ee17-74014952c095-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-e1e0c88a-0481-4fc9-e747-3e5a2d8826ff-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_1b4f0bbb-21d9-fa22-e50d-29e2a7a13309-c6fe11f8 {
  -ms-grid-row: span 2;
  grid-row-start: span 2;
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
}

#w-node-_9e2ae1f8-97a6-814a-8e1b-e1292e1c5542-c6fe11f8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-_3fc3506f-568b-88b0-b06c-43a49d91fab6-c6fe11f8 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (min-width: 1920px) {
  #w-node-_165d4295-a493-b031-3008-514b18241312-471c2334 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-column-align: auto;
    justify-self: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_18a29631-3a4a-72da-c2b7-bccdf70460ac-c6fe11f8 {
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-b4f8e730-b8cc-5d66-66b8-2600cde085da-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_7fe6e1f3-5df7-e54b-6d78-edbdd2048eec-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_23a411f6-45e9-f0ef-d9b5-edef459078dd-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1f51caf6-7f9d-5ade-d4dd-176565cf80c1-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02c9c064-21e3-df34-9514-29cdd4e33ef7-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d4561b4e-f253-5613-8523-2f6852444943-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d44372e8-558c-8a8a-1c01-1427fb346a65-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a938b5f2-422a-0166-a73f-0a5437efb51b-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_94cd0903-9288-f7ef-ba59-fe5b284d5405-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f468c606-c3cf-6844-4fd9-71914b567855-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02cd7133-7b91-4bf6-7cc5-6d09585f1fd4-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1c336c30-cce2-e306-cee9-5485a045400d-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_840ec7b5-2f02-a474-ee17-74014952c095-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-e1e0c88a-0481-4fc9-e747-3e5a2d8826ff-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1b4f0bbb-21d9-fa22-e50d-29e2a7a13309-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3fc3506f-568b-88b0-b06c-43a49d91fab6-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_18a29631-3a4a-72da-c2b7-bccdf70460ac-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-b4f8e730-b8cc-5d66-66b8-2600cde085da-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_7fe6e1f3-5df7-e54b-6d78-edbdd2048eec-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_23a411f6-45e9-f0ef-d9b5-edef459078dd-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1f51caf6-7f9d-5ade-d4dd-176565cf80c1-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02c9c064-21e3-df34-9514-29cdd4e33ef7-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d4561b4e-f253-5613-8523-2f6852444943-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d44372e8-558c-8a8a-1c01-1427fb346a65-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a938b5f2-422a-0166-a73f-0a5437efb51b-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_94cd0903-9288-f7ef-ba59-fe5b284d5405-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f468c606-c3cf-6844-4fd9-71914b567855-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02cd7133-7b91-4bf6-7cc5-6d09585f1fd4-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1c336c30-cce2-e306-cee9-5485a045400d-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_840ec7b5-2f02-a474-ee17-74014952c095-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-e1e0c88a-0481-4fc9-e747-3e5a2d8826ff-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1b4f0bbb-21d9-fa22-e50d-29e2a7a13309-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3fc3506f-568b-88b0-b06c-43a49d91fab6-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_18a29631-3a4a-72da-c2b7-bccdf70460ac-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  #w-node-b4f8e730-b8cc-5d66-66b8-2600cde085da-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_7fe6e1f3-5df7-e54b-6d78-edbdd2048eec-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_23a411f6-45e9-f0ef-d9b5-edef459078dd-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1f51caf6-7f9d-5ade-d4dd-176565cf80c1-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02c9c064-21e3-df34-9514-29cdd4e33ef7-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d4561b4e-f253-5613-8523-2f6852444943-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-d44372e8-558c-8a8a-1c01-1427fb346a65-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-a938b5f2-422a-0166-a73f-0a5437efb51b-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_94cd0903-9288-f7ef-ba59-fe5b284d5405-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f468c606-c3cf-6844-4fd9-71914b567855-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_02cd7133-7b91-4bf6-7cc5-6d09585f1fd4-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1c336c30-cce2-e306-cee9-5485a045400d-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_840ec7b5-2f02-a474-ee17-74014952c095-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-e1e0c88a-0481-4fc9-e747-3e5a2d8826ff-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_1b4f0bbb-21d9-fa22-e50d-29e2a7a13309-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_3fc3506f-568b-88b0-b06c-43a49d91fab6-c6fe11f8 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}